/* CSS Document */
.main .banner{height:424px;}
/*ennet_intro*/
.main .ennet_intro{width:850px; text-align:center;margin:30px auto;}
.main .ennet_intro .ennet_ctn{text-align:left; text-indent:2em; margin-bottom:20px;}
/*ennet_clasify*/
.main .ennet_clasify{text-align:center;width:816px; margin:30px auto;}
.main .ennet_clasify dl dt{font-size:14px;text-align:left; line-height:20px; margin:20px;}
.main .ennet_clasify dl dt span{color:#fd2020;font-size:16px;}
/*ennet_imgbox*/
.main .ennet_imgbox{text-align:center;}
.main .ennet_imgbox div{margin:20px 0;}
.main .ennet_imgbox .ennet_ctn{color:#e43635; text-align:left;width:768px; margin:auto; padding-bottom:30px; }