/* CSS Document */
.main .banner{height:419px;}
/*sltmkbox*/
.main .sltmkbox{ width:950px; margin:auto; height:430px; overflow:hidden; }
.main .sltmkbox .mklr{ width:49%; height:410px; margin-top:10px; float:left; position:relative;}
.main .sltmkbox .mklr .sltmk_tle{width:100%; margin-top:25px;font-size:30px;background:url(../images/web_03.png) no-repeat 0 10px; position:absolute; text-indent:1em; left:0px}
.main .sltmkbox .zl{ border-right:2px dashed #072e46;}
.main .sltmkbox .zl .ifpub{text-indent:2em; font-size:14px; position:absolute; }
.main .sltmkbox .zl .slt_info1{width:265px; bottom:120px; right:10px;  }
.main .sltmkbox .zl .slt_info2{width:450px; bottom:35px;}
.main .sltmkbox .zl .sltmk_ktimg{ position:absolute; top:100px; }
.main .sltmkbox .zl .sltmk_ktimg img{width:40%;}
.main .sltmkbox .yr .sltmk_tle{left:40px}
.main .sltmkbox .yr ul{width:440px; position:absolute; bottom:50px;_bottom:30px; left:70px; font-size:14px;}
.main .sltmkbox .yr ul li{width:220px; float:left; height:22px; line-height:22px;}
.main .sltmkbox .yr ul div{ height:22px; line-height:22px;}
.main .sltmkbox .yr .sltmk_ktimg{ position:absolute; top:75px; left:25%;}
/*sltcurbox*/
.main .sltcurbox{ width:1050px; margin:auto; height:300px; position:relative; overflow:hidden; font-size:14px; border-top:2px dashed #072e46; }
.main .sltcurbox .cur_tle{width:100%; font-size:30px;  margin-top:34px;  background:url(../images/web_03.png) no-repeat 45px 10px; text-indent:2.5em;}
.main .sltcurbox ul{width:600px; position:absolute; top:120px; left:200px; }
.main .sltcurbox ul li{ float:left; width:150px; height:22px; line-height:22px;}
.main .sltcurbox .cur_bef{width:632px; position:absolute; bottom:60px; left:200px;}
/*operat*/
.main .operat{ width:950px; margin:auto; height:520px; position:relative; background:url(../images/solut_03.png) no-repeat center top;}
.main .operat .opt_tle{width:auto; margin-top:34px; font-size:30px;  background:url(../images/web_03.png) no-repeat 0px 10px; text-indent:1em;}
.main .operat .opt_ctn{ font-size:14px; text-indent:2.5em;}
.main .operat .optbox2{width:380px;  position:absolute; bottom:50px; right:0px;}
.main .operat .optbox1 .opt_ctn{width:510px; line-height:22px; margin:20px 0 0 60px;}
.main .operat .optbox2 .opt_ctn{width:240px; text-indent:0em; line-height:30px; margin-top:20px;}
/*maprtg*/
.main .funsys{ width:100%; margin:auto; height:370px; position:relative; overflow:hidden;border-bottom:2px dashed #072e46; }
.main .noheng {border:none;}
.main .funsys .fts_tle{width:390px; font-size:30px;  margin-top:38px;  background:url(../images/web_03.png) no-repeat 50px 10px; text-indent:2.7em;}
.main .funsys .fts_ifbox{width:500px; height:200px; text-indent:2em; font-size:14px; position:absolute; top:100px; left:80px; }
.main .funsys .fts_ifbox li{width:465px;}
.main .funsys .fts_ifbox li .fts_iftle{ font-size:18px; position:absolute; top:0px;}
.main .funsys .fts_ifbox li .fts_ifctn{ position:absolute; top:50px; left:50px;}
.main .funsys .fts_ifbox .fts_func{position:absolute; top:120px; }
.main .funsys .fts_ifbox .fts_func div{ font-size:18px; }
.main .funsys .fts_ifbox .fts_func ul{width:500px; position:absolute; top:35px; left:30px;}
.main .funsys .fts_ifbox .fts_func ul li{width:auto; font-size:8x; float:left; padding:3px;}
.main .funsys .fts_ktimg{position:absolute;  right:100px; top:50px;}
.main .funsys .zlimg{position:absolute; left:100px; top:90px;}
.main .funsys .zlif{position:absolute; top:130px;}
.main .funsys .lthr{position:absolute; top:85px;}
.main .funsys .yrif{position:absolute; left:400px;}
/*maprtg*/
.main .custom{ width:100%; margin:auto; height:350px; position:relative; overflow:hidden;}
.main .custom .cst_tle{width:100%; font-size:30px;  margin-top:38px;  background:url(../images/web_03.png) no-repeat 50px 10px; text-indent:2.7em;}
.main .custom .cst_ifctn{width:260px; height:auto; text-indent:2em; font-size:14px; position:absolute; top:120px; left:150px; }
.main .custom .cst_ktimg{position:absolute;  right:100px; top:50px;}
