<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=320.1,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>微信营销|微信推广|微营销|微信营销教程|微信营销软件-微玖仟</title>
<link rel="stylesheet" type="text/css" href="jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.css" media="all">
<script type="text/javascript" src="jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.js"></script>
<script type="text/javascript" src="swipe.js"></script>
<script type="text/javascript" src="myjs.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" media="all">
</head>

<body>
<div data-role="page">
    <div data-role="content">
		<?php require_once(dirname(__FILE__).'/nav.php'); ?>
		<ul style="padding:5px; background:#000;" class="list">
        	<li style="background-image:url(images/wlsj1.jpg); width:55%; height:112px;" class="li01">
            	<h2>
                    <!-- <a href="#">机票</a> -->

                </h2>
            </li>
        	<!-- <li class="li02">
            	<h2><a href="#">火车票</a></h2>
            </li> -->
        	<li style="background-image:url(images/wlsj2.jpg); width:44%; height:112px;" class="li03">
            	<h2><a href="#">111</a></h2>
            </li>
            
        	<li style="background-image:url(images/wlsj3.jpg); width:55%; height:160px;" class="li01"></li>
        	<!-- <li class="li02"></li> -->
        	<li style="background:; width:44%; height:160px;" class="li03">
                <div style="background-image:url(images/wlsj4.jpg); height:77px;" class="up"></div>
                <div style="background-image:url(images/wlsj5.jpg); height:77px;" class="down"></div>   
            </li>

        	<!-- <li class="li01">
            	<div class="up"></div>
                <div class="down"></div>
            </li>
        	<li class="li02"></li>
        	<li class="li03"></li> -->
            
            <li style="background-image:url(images/wlsj6.jpg); width:55%;" class="li01">
                <h2><a href="#"></a></h2>
            </li>
            <!-- <li class="li02">
                <h2><a href="#">火车票</a></h2>
            </li> -->
            <li style="background-image:url(images/wlsj7.jpg); width:44%;" class="li03">
                <h2><a href="#"></a></h2>
            </li>

        </ul>
       <!--  <div class="last"> -->
        	<!-- <span>400 920 3886</span>
            <span>下载客户端</span>
            <span>意见反馈</span><br>
			<span>ENGLISH</span>|<span>电脑版</span><br>
			<span>&copy;2014携程旅行</span> -->
        <!-- </div> -->
		<?php require_once(dirname(__FILE__).'/footer.php'); ?>
</div>
</body>
</html>
